@page "/settings"
@using static Globals;
<h3>Settings</h3>
<br>
<h4>Usability settings</h4>
<br>
<label for="favcolor">Select Debug color:</label>
<input type="color" id="debugColor" name="debugColor" @onchange="UpdateColor" value=@S_CurrentDebugColour>
<br>
<br>
<label for="favcolor">Select Info color:</label>
<input type="color" id="infoColor" name="infoColor" @onchange="UpdateColor" value=@S_CurrentInfoColour>
<br>
<br>
<label for="favcolor">Select Warning color:</label>
<input type="color" id="warningColor" name="warningColor" @onchange="UpdateColor" value=@S_CurrentWarningColour>
<br>
<br>
<label for="favcolor">Select Error color:</label>
<input type="color" id="errorColor" name="errorColor" @onchange="UpdateColor" value=@S_CurrentErrorColour>
<br>
<br>
<h4>Networking settings</h4>
<br>
<label for="ipadresses">Choose the IP adress you want to listen to:</label>
<select @onchange="UpdateValue" id="ipadresses" name="ipadresses">
  <option value="fist">@S_ReceivingIpAddress</option>
  <option value="default">@Globals.DEFAULT_IP4_ADDRESS</option>
  <option value="second">169.254.226.158</option>
  <option value="third">192.168.0.120</option>
  <option value="fourth">192.168.56.1</option>
  <option value="fifth">169.254.56.110</option>
  <option value="sixth">169.254.83.10</option>
  <option value="seventh">169.254.84.78</option>
</select>
<br>
<br>
<label for="portNumber">Enter a port number: </label>
<input type="text" id="portNumber" value="@DEFAULT_PORT_NUM" name="portNumber">
<br>
<br>
<label for="listeningProtocol">Choose the IP adress you want to listen to:</label>
<select id="listeningProtocol" name="listeningProtocol">
  <option value="UDP">UDP</option>
  <option value="TCP">TCP</option>
  <option value="UDP and TCP">Both</option>
</select>
<br>
<br>
@code {
  private string selectedValue { get; set; }
  private string IpAddress { get; set; }
  private string debugColor = "", infoColor = "", warningColor = "", errorColor = "";

  private void UpdateValue(ChangeEventArgs e)
  {
    selectedValue = e.Value.ToString();
    if (selectedValue == "second")
    {
      IpAddress = "169.254.226.158";
      S_ReceivingIpAddress = IpAddress;
      //SyslogMessage newIpAddressMessage = new SyslogMessage();
    }
    else if (selectedValue == "third")
    {
      IpAddress = "192.168.0.120";
      S_ReceivingIpAddress = IpAddress;
    }
    else if (selectedValue == "fourth")
    {
      IpAddress = "192.168.56.1";
      S_ReceivingIpAddress = IpAddress;
    }
    else if (selectedValue == "fifth")
    {
      IpAddress = "169.254.56.110";
      S_ReceivingIpAddress = IpAddress;
    }
    else if (selectedValue == "sixth")
    {
      IpAddress = "169.254.83.10";
      S_ReceivingIpAddress = IpAddress;
    }
    else if (selectedValue == "seventh")
    {
      IpAddress = "169.254.84.78";
      S_ReceivingIpAddress = IpAddress;
    }
    else if (selectedValue == "first")
    {
      IpAddress = DEFAULT_IP4_ADDRESS;
      S_ReceivingIpAddress = IpAddress;
    }
    S_LiveFeedMessages.RefreshList();
  }

    private void UpdateColor(ChangeEventArgs e)
    {
        selectedValue = e.Value.ToString();
        if (debugColor == "found")
        {
            dynamicColorForDebug = selectedValue;
            S_CurrentDebugColour = selectedValue;
        }
        //else if (infoColor.Id.ToString() == "infoColor")
        //{
        //    dynamicColorForInfo = selectedValue;
        //    S_CurrentInfoColour = selectedValue;
        //}
        //else if (warningColor.Id.ToString() == "warningColor")
        //{
        //    dynamicColorForWarning = selectedValue;
        //    S_CurrentWarningColour = selectedValue;
        //}
        //else if (warningColor.Id.ToString() == "errorColor")
        //{
        //    dynamicColorForError = selectedValue;
        //    S_CurrentErrorColour = selectedValue;
        //}
    }
}