@using Syncfusion.Blazor.Navigations.Internal
@using System.Runtime.Loader
@using Syncfusion.Blazor.Data
@using SyslogAssignmentProject.Services
using System.Collections.Generic;
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">T6S3</a>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        /* CSS styles for the tree view */
        .tree {
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: blue;
        }

        .tree li {
            margin: 10px 0;
        }

        .tree li:before {
            content: "▶";
            margin-right: 5px;
            cursor: pointer;
            color: black;
        }

        .tree li.collapsed:before {
            content: "▶";
            color: black;
        }

        .tree li.collapsed.after{
            content: "▼";
            color: red;
        }
        .button{
          background-color: white;
          border: none;
        }
        
    </style>
</head>
<body>
<ul class="tree">
    <li class="collapsed">
        <button class="button" onclick="@toggle">Radios</button>
        <ul class="tree" style=@temp>
            @foreach (string ipAddress in _radioStore)
            {
                <li>
                    <button class="button">
                        @ipAddress
                    </button>
                </li>
            }

        </ul>
    </li>
    <li class="collapsed">
        <button class="button" onclick="@toggle2">Severity</button>
        <ul class="tree" style="@temp2">
            @foreach (string severityCode in _severity)
            {
                <li>
                    <button class="button">
                        @severityCode
                    </button>
                </li>
            }
        </ul>

    </li>
    <li>
        <button class="button" @onclick="NavigateToSettings">Settings</button>
    </li>
    <li>
        <button class="button" @onclick="NavigateHome">Live Feed</button>
    </li>
</ul>

</body>
</html>

@code
{
    BackgroundRunner _backgroundRunner = new BackgroundRunner();

    String temp = "display:none;";

    String temp2 = "display:none;";

    List<String> _radioStore
    {
        get { return _backgroundRunner._radioStore; }
    }

    public void toggle()
    {
        if(temp == "display:none;")
        {
            temp = "display:block;";
        }
        else
        {
            temp = "display:none;";
        } 
    }

    public void toggle2()
    {
        if(temp2 == "display:none;")
        {
            temp2 = "display:block;";
        }
        else
        {
            temp2 = "display:none;";
        } 
    }
    
    public String Radios { get; set; }
    String[] _severity = { "Debug", "Info", "Warning", "Error" };
    
    private void NavigateToSettings()
    {
        NavigationManager.NavigateTo("/settings");
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/");
    }

}
