@using Syncfusion.Blazor.Navigations.Internal
@using System.Runtime.Loader
  using System.Collections.Generic;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">T6S3</a>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        /* CSS styles for the tree view */
        .tree {
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: blue;
        }

        .tree li {
            margin: 10px 0;
        }

        .tree li:before {
            content: "▶";
            margin-right: 5px;
            cursor: pointer;
            color: black;
        }

        .tree li.collapsed:before {
            content: "▶";
            color: black;
        }

        .tree li.expanded:before {
            content: "▼";
            color: red;
        }
        .button{
        background-color: white;
        border: none;
        
        }
    </style>
</head>
<body>
<ul class="tree">
    <li class="collapsed">
        <button class="button">Radios</button>
        <ul class="tree">
            @foreach (string ipAddress in _radios)
            {
                <li>
                    <button class="button">
                        @ipAddress
                    </button>
                </li>
            }

        </ul>
    </li>
    <li class="collapsed">
        <button class="button">Severity</button>
        <ul class="tree">
            @foreach (string severityCode in _severity)
            {
                <li>
                    <button class="button">
                        @severityCode
                    </button>
                </li>
            }
        </ul>

    </li>
</ul>

</body>
</html>

@code
{
    
    
    public String Radios { get; set; }

    List<String> _radios = new List<String>();
    List<String> _severity = new List<String>(4);
    protected override void OnInitialized()
    {
        _radios.Add("demo1");
        _radios.Add("demo2");
        _radios.Add("demo3");
    }

}
